body{
    background-color: rgb(10, 10, 10);
    overflow: scroll;
    overflow-x: hidden;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 50px;
    position: relative;
}

.logo{
    width: 40px;
    position: absolute;
    left: 2%;
}
.homebox{
    position: relative;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    background-color: #252424;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}
.home{
    width: 25px;
}
.searchbox{
    margin: 0 20px 0 20px;
    /* padding: 5px; */
    border-radius: 25px;
    width: 400px;
    height: 40px;
    background-color: #252424;
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
    position: relative;
    align-items: center;
}


input[type=text] {
    width: 100%;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    background-color: #252424;
    background-image: url('search.png');
    background-size:25px;
    background-position: 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 45px;
  }
.homeSearch{
    align-items: center;
    display:flex;
    position: relative;
}
.innercontent{
    color: white;
}
.folder{
    width: 25px;
    margin: 10px;
    right: 5px;
    position: absolute;
}
.rightSideMenu{
    display: flex;
    position: absolute;
    right: 2%;
    justify-content:end;
    width:  400px;

}
.buttons{
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: space-between; */
}
.account{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    color: #252424;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10px;
}
.photo{
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #027084;
    position: absolute;
}
.bell{
    margin: 0 10px 0 10px;
    width: 25px;
}
.premium{
    margin: 0 10px 0 10px;
    height: 40px;
    border-radius: 25px;
    padding: 10px;
    border: none;
}
.install{
    margin: 0 10px 0 10px;
    height: 40px;
    border-radius: 25px;
    padding: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
}

.bodyContent{
    height: 85vh;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
}
.leftContent{
    background-color: #1b1b1b;
    width: 30%;
    min-width: 15%;
    max-width: 45%;
    height: 80vh;
    overflow: auto;
    resize: horizontal; 
    border-radius: 15px;
    padding: 10px;
    
    display: flex;
    position: relative;
    
}
.rightContent{
    background-color: #252424;
    width: 100%;
    height: 80vh;
    margin: 0 0 0 10px;
    border-radius: 15px;
    padding: 10px;
}
.playlists{
    /* border: 2px solid white; */
    height: 70vh;
    width: 95%;
    bottom: 2%;
    position: absolute;
    border-radius: 0 0 0 15px;
    display:block;
    justify-content: center;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}

.playlist{
    /* border: 2px solid white; */
    width: 98%;
    height: 8%;
    margin: 0 15px 15px 0;    
    border-radius: 10px;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    
}
.playlist:hover{
    /* border: 2px solid white; */
    width: 98%;
    height: 8%;
    margin: 0 15px 15px 0;    
    border-radius: 10px;
    background-color: #252424;
    
}

::-webkit-scrollbar-thumb{
    background: #505050;
    opacity: 0.5;
}

::-webkit-scrollbar {
    width: 15px;
}
.DP{
    width: 35px;
    margin: 10px;
    border-radius: 25px;
    border: 1px solid white;
}
.librarypic{
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
    margin-right: 5px;
    
}
.library{
    height: 40px;
    width: 200px;
    font-size: 20px;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    margin: 5px;
    color: white;
    filter: opacity(50%);
}
.library:hover{
    filter: opacity(100%);

}
.plus{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    right: 12%;
    position: absolute;
    /* background-color: yellow; */
    margin: 5px;
    filter: opacity(50%);
}
.Plus{
    width: 30px;
    height: 30px;
    
}

.topLeft{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    position: relative;
    /* background-color: white; */
}
.arrow{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    right: 2%;
    position: absolute;
    filter: opacity(50%);
    /* background-color: yellow; */
}
.Arrow{
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
}
.plus:hover{
    background-color:#252424;
    filter: opacity(100%);
}
.arrow:hover{
    background-color:#252424;
    filter: opacity(100%);
}

input[type=text].searchPlay{
    filter: opacity(70%);
    width: 0;
    box-sizing: content-box;
    border: none;
    justify-content: center;
    display: flex;
    border-radius: 25px;
    font-size: 16px;
    background-image: url('search.png');
    background-size: 20px;
    margin: 5px;
    transition: width 0.2s ease-in-out;
}
input[type=text].searchPlay:focus {
    width: 50%;
    filter: opacity(100%);
    border: none;
    outline: none;
    border-radius: 15px;
}